.profilePicture {

    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    
}

.tripIndex {
    width:max-content;
    margin: auto;
}

.profilePicture img {
    
    max-height: 110%;
    border-radius: 25px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -100%;
    margin-top: -55%;
}

.tripContainer {
    width: 450px;
    height: 200px;
    border-radius: 25px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}

.labelContainer {
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0))
}

#labelName{
    margin: 15px;
    position: absolute;
    left: 1%;
    bottom: 1%;
    font-size: large;
    font-weight: 600;
}

#labelDate{
    margin: 15px;
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-size: large;
    font-weight: 600;
}

.profileButtons {
    padding-bottom: 10px;
}

.tripPreviewImage {
    width: 100%;
}