.tripHeader {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.tripDates {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tripIdent {
    display: flex;
    flex-direction: column;
}

.tripLinks {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.tripBody {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.galleryContainer {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    height: max-content;
}

.galleryContainer p {
    width: 100%;
}

.galleryContainer a {
    width: 100%;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail img {
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -100%;
    margin-top: -50%;
}

.dayContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
}

/* .dayContainer p {
    width: 100%;
} */

.day {
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
}

.journalEntry {
    height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(255, 255, 255, 1));
    border-radius: 0px 0px 10px 10px;
}

.journalEntry p {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: left; */
    margin: auto;
    /* overflow-wrap: break-word; */
    width: 98%;
    text-align: left;
    max-height: 70px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.dayInfo {
    display: flex;
    height: 30px;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .2));
}

.dayInfo p {
    width: max-content;
    margin: 5px;
}
